



























  /**
   * #TESTIMONIALS, CTA, SERVICE
   */

   .testimonial, .service {
    min-width: -webkit-calc(25% - 20px);
    min-width: calc(25% - 20px);
    width: -webkit-calc(25% - 20px);
    width: calc(25% - 20px);
  }

  .cta-container {
    min-width: -webkit-calc(50% - 20px);
    min-width: calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
    aspect-ratio: unset;
  }

  .service-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 16px;
    padding: 30px;
  }

  .service-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }






/**
   * #FOOTER
   */

   footer { padding-top: 50px; }

   .footer-category {
     margin-bottom: 50px;
     padding-bottom: 35px;
   }
 
   .footer-nav { padding-bottom: 50px; }
 
 
 
 /**
  * responsive larger than 1400px screen
  */
 
 @media (min-width: 1400px) {
 
   /**
    * #BASE 
    */
 
   html { font-size: 18px; }
 
 
 
   /**
    * #REUSED STYLE 
    */
 
   .container { max-width: 1350px; }
 
 
 
   /**
    * #BANNER
    */
 
   .slider-item { height: 450px; }
 
   .banner-content {
     left: 110px;
     max-width: 460px;
   }
 
 }
 